@font-face {
  font-family: 'SF UI Display';
  src: local('SF UI Display'), url(./fonts/sf-ui-display-medium-58646be638f96.otf) format('truetype');
}

@font-face {
  font-family: 'SF UI Text';
  src: local('SF UI Text'), url(./fonts/SFUIText-Regular.ttf) format('truetype');
}

.App {
  text-align: center;
  font-family: 'SF UI Display';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

